*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: hsl(30, 54%, 90%);
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
    width: 800px;
    margin: 100px 0;
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
    border-radius: 16px;
}

img{
    width: 700px;
    margin-bottom: 30px;
}

.reg-font{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}

.accent-font{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.main-heading{
    color: hsl(24, 5%, 18%);
    margin-bottom: 20px;
}

.container p{
    color:#797979;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.prep-container{
    background:hsl(330, 100%, 98%);
    padding: 30px;
    border-radius: 8px;
    margin: 20px;
}

.prep-container h4{
    font-family: "Outfit", sans-serif;
    color: #5c263c;
    font-size: 18px;
    margin-bottom: 20px;
}
.prep-container ul{
    padding-left: 50px;
}

.prep-container ul li{
    font-family: "Outfit",sans-serif;
    font-size: 16px;
    padding: 8px;
}

.container h2{
    color: #7f4f44;
    font-family: "Young Serif", serif;
    font-weight: 400;
    margin: 20px auto;
}

.container ul{
    padding-left : 20px; 
}

.container ul li{
    padding: 8px;
    font-family: "Outfit",sans-serif;
    font-size: 16px;
}

.container ol{
    padding-left: 20px ;
    font-family: "Outfit", sans-serif;
    counter-reset: item;
}

.container ol li{
    padding: 8px;
    font-family: "Outfit",sans-serif;
    display: block;
    position: relative;
}

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #7f4f44;
    font-weight: 700;
    position: absolute;
    left: -15px;
}
.container ol li strong{
    color:hsl(24, 5%, 18%)
}
table {
    border-collapse: collapse;
  }
table tbody tr {
    border-bottom: 2px solid hsl(30, 18%, 87%);
  }
table tbody tr.final-row {
    border-bottom: 0;
  }
  
  td {
    padding-left: 50px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px; /* Corrected typo: changed padding-top to padding-bottom */
    font-family: "Outfit", sans-serif;
  }
  
  td.brown {
    color: #7f4f44;
    font-weight: 700;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d9d9d9;
    margin: 1em 0;
    padding: 0;
  }


  @media only screen and (max-width: 375px) {
    /* body{
        width: 300px;
    } */
    .container{
        margin: 0;
        max-width: 375px;
        padding: 15px;
    }
    .container img{
        width: 345px;
    }
    .prep-container{
        margin:0
    }
    td {
        padding-left: 20px;
        padding-right: 100px;
    }

}